@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #FFEFE5;
  color: #1FC8A9;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

div {
  margin: 60px;
}

a:link {
  text-decoration: none;
}

a[href^="mailto:"] {
  color: #1FC8A9;
}

a:visited {
  color: #1FC8A9;
}

a:hover {
  text-decoration: underline;
}

img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

@media screen and (min-width: 600px) {
  div {
    margin: 40px;
  }
}