      body {
        background-color: white;
        color: black;
        font-family: 'Roboto', sans-serif;
        margin: 0;
        padding: 0;
      }

      /* NAV */

      nav {
        display: flex;
        font-size: 24px;
      }

      li {
        display: inline-block;
        list-style-type: none;
        margin-top: 40px;
        padding: 10px;
      }

      a {
        color: black !important;
        text-decoration: none !important;
      }

      a:hover {
        text-decoration: underline !important;
      }

      @media screen and (max-width: 600px) {
        nav {
          font-size: 23px;
        }
      }
      
      /* INTRO */

      .intro {
        font-size: 20px;
        text-align: justify;
        padding: 10px 100px;
      }

      .intro p mark {
        background-color: greenyellow;
      }

      @media screen and (max-width: 600px) {
        .intro {
          font-size: 19px;
          text-align: left;
          padding: 10px 80px;
        }
      }

      /* GRID */

      .grid-wrapper {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(auto-fill, minmax(300px 1fr));
      }

      .grid-wrapper li {
        padding: 0 120px;
        margin: 20px;
      }

      img {
        width:  300px;
        height: 300px;
        margin: 20px;
        object-fit: cover;
      }

      img:hover {
        transform: rotate(-4deg);
      }

      @media screen and (max-width: 600px) {
        .grid-wrapper li {
          padding: 0 20px;
        }
      }

      /* FOOTER */

      footer {
        font-size: 18px;
        padding: 20px 20px;
        text-align: center;
      }

      